[data-type="frm-modal/content"] {
	.modal-content {
		background-color: #fff;
		border-radius: 0.5rem;
		border: 1px solid #dee2e6;
	}

	.modal-header {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		border-bottom: 1px solid #dee2e6;
		border-top-left-radius: var(--bs-modal-inner-border-radius);
		border-top-right-radius: var(--bs-modal-inner-border-radius);
	}

	.modal-title {
		margin-bottom: 0;
		width: 100%;
	}

	.modal-body {
		padding: 1rem;

		> .wp-block-group__inner-container > .block-list-appender:not(:first-child) {
			bottom: calc(-1 * var(--global--spacing-vertical));
		}
	}
}
