[data-type="frm-modal/content"] {
	padding: 30px 20px;
	margin-top: 1em;

	&:before {
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 20;
	}

	&:before,
	.frm_modal_overlay {
		content: '';
		display: block;
		position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&.has-warning:before {
		z-index: 0;
	}

	.modal-dialog {
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 12px 32px rgba(0, 0, 0, 0.3);
		margin-block-start: 0 !important;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		border-radius: 0.5rem;
		position: relative;
		z-index: 30;

		&.modal-sm {
			max-width: 300px;
		}
	}

	.modal-header {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;
		border-bottom: 1px solid #dee2e6;
		border-top-left-radius: var(--bs-modal-inner-border-radius);
		border-top-right-radius: var(--bs-modal-inner-border-radius);
	}

	.modal-title {
		margin-bottom: 0;
		width: 100%;
	}

	.modal-body {
		padding: 2rem;

		> .wp-block-group__inner-container > .block-list-appender:not(:first-child) {
			bottom: calc(-1 * var(--global--spacing-vertical));
		}
	}

	.close {
		text-decoration: none !important;
		color: currentColor !important;
		cursor: pointer;
		font-size: 36px;
		font-weight: 300;
		line-height: 21px;
		margin-bottom: 4px;
	}
}

.frm_modal_color_setting {
	--setting-border: 1px solid rgba(0,0,0,.1);

	border-bottom: var(--setting-border);
	border-left: var(--setting-border);
	border-right: var(--setting-border);

	&:first-child {
		border-top: var(--setting-border);
	}
}
